.storiesContainer {
  display: flex;

  .stories {
    width: 600px;
    padding: 30px;
    margin: 20px;
    opacity: 0.8;
    border-radius: 10px;
  }

  .button {
    align-self: flex-end;
  }
}

.MySpaceHeader {
  padding: 30px;
}
.MySpaceButtons {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.DeleteStory {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}

.DeleteStory:hover {
  background-color: green;
  color: white;
}

.PostStoryWrapper {
  width: 600px;

  li {
    list-style-type: none;
  }
}
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
