.storiesContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .stories {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    opacity: 0.8;
    border-radius: 10px;
    flex-basis: 25%;
    // flex-grow: 1;
  }

  .button {
    align-self: flex-end;
  }
}

.MySpaceHeader {
  padding: 30px;
}
.MySpaceButtons {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.DeleteStory {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}

.DeleteStory:hover {
  background-color: green;
  color: white;
}
.PostStoryFormContainer {
  margin: 20px 0 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .PostStoryWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 800px;

    li {
      list-style-type: none;
    }

    .form-row,
    .PostStoryButtons {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
    }
    .PreviewImage img {
      width: 300px;
    }
  }
}
