.storiesContainer {
  display: flex;

  .stories {
    width: 600px;
    padding: 30px;
    margin: 20px;
    opacity: 0.8;
    border-radius: 10px;
  }
}

.MySpaceHeader {
  padding: 30px;
}
.MySpaceButtons {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.DeleteStory {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}

.DeleteStory:hover {
  background-color: green;
  color: white;
}
